<template>
  <svg viewBox="0 0 102.966 116.272" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M47.607 100.525c0-3.744.102-7.996.306-12.756.203-4.802.305-10.01.305-15.625 0-7.65-.855-13.123-2.564-16.419-1.668-3.296-4.903-4.944-9.704-4.944-4.395 0-7.223.57-8.484 1.709-1.262 1.14-2.828 4.761-4.7 10.864-1.831 6.104-2.746 13.062-2.746 20.875 0 5.778 1.017 12.247 3.051 19.409-4.964 1.587-9.684 2.38-14.16 2.38-3.987 0-6.47-.895-7.446-2.685C.488 101.542 0 98.45 0 94.055c0-9.969 1.628-20.08 4.883-30.334 3.255-10.295 8.728-21.383 16.418-33.264h-7.629c-1.75 0-2.991-.326-3.723-.977-.733-.692-1.099-2.502-1.099-5.432 0-3.866-.305-7.243-.915-10.132-.57-2.889-1.709-4.333-3.418-4.333-.407-.733-.631-1.628-.672-2.686 0-1.872 2.442-3.479 7.324-4.822C16.093.692 20.142 0 23.315 0c1.628 0 2.767.326 3.418.977.692.651 1.038 1.932 1.038 3.845v10.803c0 2.441.326 4.13.977 5.066.651.895 4.353 1.343 11.108 1.343 1.261 0 2.096.183 2.502.549.448.366.672 1.139.672 2.319a7.47 7.47 0 01-1.038 3.846c-.692 1.139-2.278 3.356-4.761 6.652-2.441 3.296-4.17 5.921-5.188 7.874 6.592-1.628 12.35-2.441 17.273-2.441 5.86 0 10.275 1.322 13.245 3.967 3.011 2.645 4.517 7.792 4.517 15.442 0 3.58-.102 8.748-.306 15.503-.203 6.713-.305 12.553-.305 17.517 0 1.383.204 2.339.611 2.868.447.529 1.159.794 2.136.794 4.272 0 9.766-.549 16.479-1.648 6.755-1.099 10.702-1.648 11.841-1.648.692 0 1.363.305 2.014.915.651.611.977 1.221.977 1.832 0 .61-.204 1.993-.61 4.15-.407 2.156-.611 3.886-.611 5.188 0 1.017.265 1.689.794 2.014.569.366 1.322.448 2.258.244.407.733.61 1.607.61 2.625 0 1.587-.61 2.685-1.831 3.296-1.22.651-3.906 1.2-8.056 1.648-4.151.488-7.141.732-8.973.732-1.424 0-2.461-.326-3.112-.977-.651-.61-.977-1.525-.977-2.746 0-1.709.387-4.313 1.16-7.813-14.608.855-23.845 1.282-27.71 1.282-2.279 0-3.825-.448-4.639-1.343-.814-.895-1.221-2.278-1.221-4.15z"
      fill="#673ab7"
    />
  </svg>
</template>

<style></style>
