<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <Logo />
      <h1>
        "A journey of a thousand miles begins with a single step",
        <em>Lao-Tze</em>
      </h1>
    </v-row>
  </v-container>
</template>

<script>
import Logo from '~/components/Logo'

export default {
  components: {
    Logo
  }
}
</script>

<style scoped>
.row {
  flex-direction: column;
  height: 100vh;
}
svg {
  height: 150px;
}
</style>
